<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title %}Slim{% endblock %}</title>

    {% block css %}
        <link rel="stylesheet" href="/assets/front/css/style.css">
        {% block css_append %}{% endblock %}
    {% endblock %}
</head>

<body>
{% block content %}{% endblock %}

{% block js %}
    <script src="/assets/front/js/scripts.js"></script>
    {% block js_append %}{% endblock %}
{% endblock %}
</body>
</html>