{% extends 'app.twig' %}

{% set title = 'Hello, Slim' %}

{% block content %}
    Hello, Slim

    {#<form action="{{ path_for('subscribe') }}" method="post">#}
        {#<input type="text" name="email" value="{{ old.email }}">#}
        {#<button>subscribe</button>#}
        {#{{ csrf.field | raw }}#}
    {#</form>#}
{% endblock %}